body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease;
  }
  
  .btn, .play-pause-btn {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .btn:hover, .play-pause-btn:hover {
    background-color: #45a049;
  }
  footer{
    display: flex;
	justify-content: center;
    width: 100px;
    height: 20px;
  }